@import url('https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Yusei Magic', sans-serif;
}

body{
    overflow: hidden;
    background-position: center;
    background-size: cover;
    background-repeat: repeat;
    background-image: url(../img/yu-gi-oh-background.png);
}

.overlay{
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    width: 100%;
    height: 100vh;
    transition: .2s;
    background: #000;
}

.load{
    width: 500px;
    height: 100%;
    margin-top: 260px;
    background-repeat: no-repeat;
    background-position: center;
    background: #000;
    background-image: url(../icone/android-chrome-512x512.png);
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 60px;
    border-bottom: 1px solid #000;
    padding: 0 50px;
    backdrop-filter: blur(3px);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(20,10,17,0) 100%);
}

.header img{
    width: 150px;
    height: 250%;
}

.list-name-content{
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    margin-right: 162px;
    font-size: 18px;
    font-weight: 600;
    border-radius: 15px;
    height: 40px;
    width: 250px;
    color: #c53cc5;
    background: #000003cb;
}

.list-name-content span{
    cursor: pointer;
    display: block;
    text-align: center;
}

.list-name-content img{
    width: 20px;
    height: 20px;
    transform: rotate(180deg);
}

.easter-egg-content{
    position: absolute;
    top: 12px;
    right: 15px;
}

.easter-egg-content span{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
}

.easter-egg-content span img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-shadow: 0px 1px 15px #000;
    transform: rotate(18deg);
    transition: ease .3s;
}

.easter-egg-content span img:hover{
    box-shadow: 0px 1px 15px #ffd900;
    transform: rotate(380deg);
}

.list-select-name{
    display: none;
    margin-top: 41px;
    position: absolute;
    right: 180px;
    top: 60px;
    height: 480px;
    width: 350px;
    border-radius: 15px;
    border: 1px solid #000;
    box-shadow: 2px 2px 25px #000;
    box-shadow: 2px 2px 8px #000;
    background: linear-gradient(90deg, rgb(0, 0, 0) 0%, rgba(20, 10, 17, 0) 100%);
    transition: ease .3s;
}

.list-beast-name{
    overflow: hidden;
    display: none;
    margin-top: 41px;
    position: absolute;
    right: 180px;
    top: 60px;
    height: 180px;
    width: 350px;
    border-radius: 15px;
    border: 1px solid #000;
    box-shadow: 2px 2px 25px #000;
    box-shadow: 2px 2px 8px #000;
    background: linear-gradient(90deg, rgb(0, 0, 0) 0%, rgba(20, 10, 17, 0) 100%);
    transition: ease .3s;
}

.list-name{
    overflow-y: scroll;
    cursor: pointer;
    display: block;

    font-size: 14px;
    font-weight: 600;
    text-align: center;

    height: 479px;
    width: 100%;
    border-radius: 15px;
    color: #cdc9c9;
    list-style: none;
}

.list-beast{
    cursor: pointer;
    display: block;

    font-size: 14px;
    font-weight: 600;
    text-align: center;

    width: 100%;
    border-radius: 15px;
    color: #cdc9c9;
    list-style: none;
}

.list-name::-webkit-scrollbar {
    width: 8px;
    background: #0d141f;
    border-radius: 0 8px 8px 0;
  }
  
.list-name::-webkit-scrollbar-thumb {
    /*background: #525861;*/
    background: #c53cc5;
    height: 60px;
    border-radius: 0 8px 8px 0;
  }

.list-name li{
    padding: 8px;
}

.list-name li:hover{
    color: #fff;
    background-color: #c53cc5;
}

.list-beast li{
    padding: 8px;
}

.list-beast li:hover{
    color: #fff;
    background-color: #c53cc5;
}

.container{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-evenly;
    width: 100%;
}

.main-content{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    order: -1;
    
    margin: 40px 0;
    height: 480px;
    width: 500px;
    padding: 20px;
    border-radius: 15px;
    border: 1px solid #000;
    box-shadow: 2px 2px 25px #000;
    box-shadow: 2px 2px 8px #000;
    backdrop-filter: blur(2px);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(20,10,17,0) 100%);
}

.info-data{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.info-data div{
    padding: 5px;
    font-size: 14px;
    font-weight: 600;
    color: #c53cc5;
    text-shadow: 2px 2px 8px #000;
}

.info-data div span{
    color: #cdc9c9;
}

.input{
    outline: none;
    text-align: center;
    font-weight: 600;
    font-size: 14px;

    margin: 10px;
    padding: 20px;
    height: 20px;
    width: 280px;
    border-radius: 15px;
}

.btn-submit{
    cursor: pointer;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 14px;

    margin: 10px;
    padding: 20px;
    height: 40px;
    width: 280px;
    border-radius: 15px;

    font-size: 14px;
    font-weight: 600;
    border:1px solid #000;
    color: #cdc9c9;
    background: linear-gradient(90deg, rgba(255,19,194,1) 0%, rgba(20,10,18,1) 100%);
    transition: ease .3s;
}

.btn-submit:hover{
    color: #fff;
}

.buttons{
    position: relative;
    display: flex;
    justify-content: start;
}

.buttons .btn{
    display: flex;
    align-items: center;
    justify-content: center;

    outline: none;
    cursor: pointer;
    padding: 10px;
    width: 130px;
    height: 40px;
    margin: 10px;
    border-radius: 15px;

    font-size: 14px;
    font-weight: 600;
    border:1px solid #000;
    color: #cdc9c9;
    background: linear-gradient(90deg, rgba(255,19,194,1) 0%, rgba(20,10,18,1) 100%);
    transition:  .3s;
}

.btn:hover{
    color: #fff;
}

.img-preview{
    position: relative;
    max-width: 300px;
    height:430px;
    background-size: cover;
    background-position: center;
    background-image: url(../img/cardback.jpg);
}

.img-preview img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    min-width: 300px;
    border: 1px solid #000;
    box-shadow: 2px 2px 55px #000;
}

.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: absolute;
    z-index: -1;
    bottom: 0;
    left: 0;
    width: 100%;
    color: #fff;
    background: #000;
    padding: 5px 15px;
}

.footer a{
    color:#fff;
    text-decoration: none;
    transition: all 0.7s ease 0s;
}

.footer a:hover{
    color: #c53cc5;
}

/*Media query*/

@media screen and (max-width: 1115px){

    .list-name-content{
        margin-right: 20px;
    }

    .list-select-name, .list-beast-name{
        max-width: 350px;
        right: 23px;
    }
}

@media screen and (max-width: 912px){
    body{
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        overflow:visible ;

        background-position: center;
        background-repeat:repeat-y;
        background-image: url(../img/load-2.jpg);
    }
    
    .load{
        width: 100%;
        height: 400px;
        margin-top: -30px;
        background-size: contain;
        background-position: center;
    }

    .header{
        width: 100%;
        padding: 0 10px;
        margin-bottom: 10px;
    }

    .list-name-content{
        width: 120px;
        margin-right: 60px;
    }

    .list-name-content span{
        padding: 3px;
        font-size: 14px;
        color: #ffd900;
    }

    .list-select-name, .list-beast-name{
        max-width: 350px;
        right: 13px;
        background-color: #0d141fb9;
    }

    .container{
        display: flex;
        flex-direction: column;
        margin-top: 220px;
        padding: 0;
        height: 100vh;
    }

    .main-content{
        order: 0;
        width: 100%;
        max-width: 350px;
        height: 100vh;
        margin: 0;
        margin-top: 40px;
        margin-bottom: 40px;
        backdrop-filter: none; 
        background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(0,0,0,1) 0%, rgba(20,10,17,0) 100%);
    }

    .info-data{
        font-size: 14px;
    }

    .info-data div{
        padding: 5px;
        text-align: start;
        color: #ffd900;
    }

    .input, .btn-submit{
        width: 100%;
        margin: 10px 0;
    }

    .buttons .btn{
        width: 100%;
        margin: 0 3px;
    }

    .buttons .btn, .btn-submit{
        background: linear-gradient(138deg, rgba(255,217,0,1) 0%, rgba(27,27,27,1) 100%);
    }

    .img-preview{
        position: relative;
        margin-top: 20px;
        margin-bottom: 20px;
        max-width: 330px;
    }
    
    .footer{
        position: relative;
        width: 100%;
    }

    .footer a:hover{
        color: #ffd900;
    }
}